body {
  border: 2px solid red;
}

.myheader {
  border: 2px solid blue;
  height: 100px;
  width: 100%;
}


.main-column {
  padding-left: 160px;
}

.ssmain {
  height: 300px;
  border: 2px solid orange;
  width 100%;
}

footer {
  border: 2px solid green;
  height: 100px;
  width: 100%;
}

.Xcontainer {
  margin: .1% .1% .1% .1%;
  padding: .1% .1% .1% .1%;
}

#lang-bar {
  display:block;
  width: 160px;
  height: 100vh;
  float: left;
  border: 2px solid brown;
}
#main-column{
  border: 2px solid orange;

}

#today {
    border: 2px solid black;
}
